
/*
{
	border: 20px solid #bdc3c7;
	padding: 20px;
	margin: 110px auto;	max-width: 700px;
	width: 80%

}
*/
.boss
{
	
	color: #2c3e50;
	font-family: 'Anton', sans-serif;
}

.change
{
	border-left: 5px solid #bdc3c7;
	font-family: 'Lobster', cursive;
	font-size: 25px;
}
#some
{
	border-color: red;
}
.go
{
	letter-spacing: 0.2rem;
	color: #eb0cc2;
}
hr{
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
.yes
{
	background: rgba(0,150,0,0.2);
	border: 20px solid #bdc3c7;
	padding: 20px;
	margin: 110px auto;	max-width: 700px;
	width: 80%
}
.card-text
{
	color: green;
	font-size: 30px;
}
h2
{
	color: #ba0da3;
	font-size:50px;
	text-align: center;
	
	font-family: 'Permanent Marker', cursive;

}
img
{
	float: left;
	margin: 1%;
}
#sky
{
	background: blue;
}
h2:hover
{
	color: pink;
}
